html {
    height: 100%;
}
body {
    height: 100%;
    background: rgb(95,126,162);
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.main {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 3px rgba(255, 255, 255, 0.5);
    padding: 20px;
    
}
[contenteditable="true"] {
    outline: none;
}
.nav {
    border-radius: 20px 20px 0px 0px ;
    background-color: white;
    border-bottom: solid 1px #1C2F74;
    max-height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; 
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.nav-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.lists {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    
}
.left {
    /*background-color: rgb(229, 229, 229);*/
    background-color: #1C2F74;
    min-width: 20%;
    height: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 0px 0px 0px 20px ;
   
}
.right {
    width: 80%;
    height: 100%;
    background-color: #EFF4FF;
    border-radius: 0px 0px 20px 0px ;
}
#leftText {
    color: #FFF;
    border-bottom: 1px solid #2B4191;
    text-align: center;
    min-width: 90%;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 21px;
}
#leftBottom {
    margin-top: 20px;
    width: 90%;
}
/*Left lists*/

#new-list {
    margin-top: 20px;
    padding: 0px 7px;
    min-width: 80%;
    background-color: #FFF;
    border: none;
    height: 50px;
    border-radius: 5px;
} 
#submit {
    min-width: 85%;
    padding: 0px 0px;
    color: #FFF;
    background-color: #4772FA;
    border: none;
    height: 50px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.all-lists {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    text-align: center;
    align-items: center;
    gap: 5px;
}
.added-list div {
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.added-list i {
    visibility: hidden;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.added-list {
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #2B4191;
    color: #4E5D93;
    min-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    overflow: scroll;
}
.added-list .listCircle {
    visibility: hidden;
    width: 0px;
    height: 0px;
}
#current .listCircle {
    visibility: visible;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4772FA;
    margin-right: 5px;
}

#current div {
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#current i {
    visibility: visible;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#current {
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #2B4191;
    color: #FFF;
    min-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.test p, .added-list p{
    margin: 0;
}
#search {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #EFF4FF;
    border: 1px solid  #1C2F74;
    outline : none;
}

/*Right side*/
 .todo-list {
            max-width: 50%;
            margin: 0 auto;
            min-height: 90%;
        }

        ul {
            list-style-type: none;
            padding: 0;
            width: 100%;
            height: 100%;
            margin: 0px;
        }

        li {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;
            margin-bottom: 5px;
            min-height: 50px;
            border-radius: 10px;
            background-color: white;
        }

        #newTask {
            box-sizing: border-box;
            width: 100%;
            padding: 5px 5px 5px 5px;
            margin: 0 auto;
            border-radius: 10px;
            border: none;
            min-height: 50px;
            
        }

        button {
            background-color: #627fa3;
            color: white;
            border-radius: 20px;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        button:hover {
            background-color: #d32f2f;
        }
        li p {
            font-size: 15px;
            font-weight: 400;
            font-family: 'Inter', sans-serif;
        }
        .taskContainer {
            display: flex;
            flex-direction: column;
            
        }
        #title {
            margin: 30px 0px 20px;
            font-size: 34px;
            font-weight: 600;
            font-family: 'Inter', sans-serif;
        }
        li .checkboxContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            
            
        }
        li .checkboxContainer input {
            margin-right: 20px;
        }
  p {
    margin: 0;
    padding: 0;
  }
  
